.topnav{
  background-color: black;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.topnav a {
  color: white;
  background-color: black;
  /*text-align: center;*/
  padding: 18px 46px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  border-radius: 0;
  margin: auto;
}

.bio{
  padding: 10px 258px 300px 6px;
   color: "gray";
   background-color: "gray";
   border: #dddddd 5px solid;
   border-color: black;
}

.blank{
  font-size: 30px;
  color: gray;
}


.recipes{
text-align: center;
}

.column{
  border: #dddddd 5px solid;
  padding: 10px 6px 4px 6px;
  color: "light gray";
   border-color: black;
}

.row{
  text-align:center;
  float: center;
  column-count: 4;
  margin: 0;
}


.biopic{
  align-content: left;
}
