.topnav{
  background-color: black;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.topnav a {
  color: white;
  background-color: black;
  /*text-align: center;*/
  padding: 18px 46px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  border-radius: 0;
  margin: auto;
}

.bio{
  padding: 10px 258px 300px 6px;
   color: "gray";
   background-color: "gray";
   border: #dddddd 5px solid;
   border-color: black;
}

.biotext{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.blank{
  font-size: 30px;
  color: #c4bfaf;
}


.recipes{
text-align: center;
}

.column{
  border: #dddddd 5px solid;
  padding: 10px 6px 4px 6px;
<<<<<<< HEAD
  color: "gray";
=======
  color: "light gray";
   border-color: black;
>>>>>>> 229c54207f76abac8cf0f15fb1ffbdd36f92fff9
}

.row{
  text-align:center;
  float: center;
  column-count: 4;
  margin: 0;
}
