/*navigation bar*/
/*background*/
.topnav{
  background-color: black;
  overflow: hidden;
  margin: auto;
  text-align: center;
}
/*text*/
.topnav a {
  color: white;
  background-color: black;
  /*text-align: center;*/
  padding: 18px 46px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  border-radius: 0;
  margin: auto;
}


/*bio*/
/*bio box*/
.bio{
  padding: 10px 258px 300px 6px;
   color: "gray";
   background-color: "gray";
   border: #dddddd 5px solid;
   border-color: black;
}
/*bio text*/
.biotext{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

/*this fills space*/
.blank{
  font-size: 30px;
  color: #c4bfaf;
}


/*meals buttons*/
.meal{
  background-color: #c4bfaf;
  border-color: black;
  border-width: 5px;
  width: 100px;
  height: 50px;
}


#primary_nav_wrap
{
	margin-top:15px;
  text-align: center;
  float: center;
	margin-top:0px;

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:center;
  display: inline-block;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color: white;
  background-color: green;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0px 20px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/*drop down menu*/
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}
#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

.column{

  padding: 10px 6px 4px 6px;
  color: "gray";
  color: "light gray";

}
#primary_nav_wrap ul li:hover > ul
{
	display:block;
}
.pictures{
height: 200px; width:300px;
}

.parallax {
height: 500px;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.img1{
  background-image: url("https://kraftedbykelly.files.wordpress.com/2011/03/jamie4.jpg");
} 


/*breakfast pictures*/
.bp{
  height: 300px;
  width: 300px;
}
.hometitle{
text-align: center;
font-size: 50px;
font-family: 'Source Sans Pro', sans-serif;
}
.hometext{
text-align: center;
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}


/*INFO BOX*/

.infobox{
    position:relative;
    background-color:white;
    border:1px solid rgb(136, 136, 136);
    left:0px;
    top:0px;
    width:256px;
}

.infobox_close{
    cursor:pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}

.infobox_content{
    margin:5px;
    font-family: Arial;
    font-size:11px;
    line-height:22px;
}

.infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
}

#myMap{
  width: 100%;
  height: 100%;


}


html,body {

	margin: 0;
	padding: 0;
}

.slides {
	float: left;
	position: absolute;
	width: 100%;
	height: 145%;
	/* opacity: 0;
	transition: opacity 3s linear; */
}

#main-slider{
  width: 100%;
}
/* .slider-wrapper > .slide:first-child {
	opacity: 1;
} */
.blank2{
  font-size: 159px;
    color: #c4bfaf;
}

.parallax{
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.img3{
  background-image: url("https://kraftedbykelly.files.wordpress.com/2011/03/jamie4.jpg");
}
.other{
  text-align: center;
}
/*div#nav{
  text-align: center;
}
div#nav ul{
  display: inline-block;
}*/


.image{
  display: inline-block;
  width: 305px;
  height: 350px;
  margin: 0px;
}


.image img{
  border-radius: 25px;
}




.column {
	margin: 15px 5px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 295px;
	height: 295px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 295px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 295px;
	height: 295px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
h1{
  color: white;

}


/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}
/* Home page */
.container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

.box {
    box-shadow: 5px 10px;
}
#rcorners3 {
    border-radius: 25px;
    background: url("http://www.eatingwell.com/recipe/265482/broccoli-cheddar-quiche-with-sweet-potato-crust/");
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;


 /* add things to bottom  */
 * {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main6 {
    max-width: 1000px;
    margin: auto;
}

h6 {
    font-size: 50px;
    word-break: break-all;
}

.row6 {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row6,
.row6 > .column6 {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column6 {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content6 {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;

}
