/*navigation bar*/
/*background*/
.topnav{
  background-color: black;
  overflow: hidden;
  margin: auto;
  text-align: center;
}
/*text*/
.topnav a {
  color: white;
  background-color: black;
  /*text-align: center;*/
  padding: 18px 46px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  border-radius: 0;
  margin: auto;
}


/*bio*/
/*bio box*/
.bio{
  padding: 10px 258px 300px 6px;
   color: "gray";
   background-color: "gray";
   border: #dddddd 5px solid;
   border-color: black;
}
/*bio text*/
.biotext{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

/*this fills space*/
.blank{
  font-size: 30px;
  color: #c4bfaf;
}


/*meals buttons*/
.meal{
  background-color: #c4bfaf;
  border-color: black;
  border-width: 5px;
  width: 100px;
  height: 50px;
}


#primary_nav_wrap
{
	margin-top:15px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}
.column{
  border: #dddddd 5px solid;
  padding: 10px 6px 4px 6px;

  color: "gray";

  color: "light gray";
   border-color: black;

}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}
.pictures{
height: 200px; width:300px;
}
.parallax {
height: 500px;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.img1{
  background-image: url("https://kraftedbykelly.files.wordpress.com/2011/03/jamie4.jpg");
}
.hometitle{
text-align: center;
font-size: 50px;
font-family: 'Source Sans Pro', sans-serif;
}
.hometext{
text-align: center;
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
